
  <div class="container-fluid" ng-controller="loginCtrl as login" ng-init="init()">
        <div>
            <h3 class="text-center text-color-white">Welcome</h3>
        </div>
        <div class="text-center">
               <button class="notes-action-buttons loginLogo"><span><i class="fa fa-bandcamp fa-5x"></i></span></button> 
        </div>
        <div class=" jumbotron">
         
            <div class=" row centreAligned">
                <label class="col-xs-6 welcome-radio" for="signInRadio">Sign In: <input type="radio" name="signInRadio" ng-click="login.signUp = false" id= "signInRadio" checked ></label>
                <label class="col-xs-6 welcome-radio"  for="signUpRadio">Sign Up: <input type="radio" ng-click="login.signUp = true" name="signInRadio"  id="signUpRadio"></label>
               
                <input  ng-show="login.signUp" type="text" id="signInName" name="signInName" ng-model="user.Name" class=" col-xs-12 col-md-6 col-md-offset-3" placeholder="Name" required >
                <input id="userEmail" ng-model="user.Email" name="userEmail" class=" col-xs-12 col-md-6 col-md-offset-3" type="email" placeholder="Email" required />
                
                <input id="userPassword" ng-model="user.Password" class="col-xs-12 col-md-6 col-md-offset-3" type="password" placeholder="Password" required /> 
                
                <h1>{{login.error}}</h1>    
                           
                <button type="button" ng-click="login.signInToggle()" class="col-xs-12 btn  col-md-3 col-md-offset-3 btn-primary" >Submit</button>              
            </div>         
        </div>
    </div>
    <!-- <div class="jumbotron">
        <form name="form" ng-submit="login.signInToggle()" role="form" novalidate="">
        <div class="form-group">
<label class="col-xs-6 welcome-radio" for="signInRadio">Sign In: <input type="radio" name="signInRadio" ng-click="login.signUp = false" id= "signInRadio" checked ></label>
                <label class="col-xs-6 welcome-radio"  for="signUpRadio">Sign Up: <input type="radio" ng-click="login.signUp = true" name="signInRadio"  id="signUpRadio"></label>
        </div>
        <div class="form-group">
             <input  ng-show="login.signUp" type="text" id="signInName" name="signInName" ng-model="user.Name" class="ng-class:login.signUp:redborder; form-control col-xs-12 col-md-6 col-md-offset-3" placeholder="Name"  >
        </div>
        <div class="form-group">
             <input id="userEmail" ng-model="user.Email" name="userEmail" class="form-control col-xs-12 col-md-6 col-md-offset-3" type="email" placeholder="Email"  />
        </div>
        <div class="form-group">
            <input id="userPassword" ng-model="user.Password" class="form-control col-xs-12 col-md-6 col-md-offset-3" type="password" placeholder="Password"  /> 
        </div>
        <div class="form-group">
            <button type="submit"  class="col-xs-12 btn  col-md-3 col-md-offset-3 btn-primary" >Submit</button>   
        </div>
    </form>

    </div>
     -->